*{margin: 0;padding: 0}
.header{
    width:100%;
    height: 35px;
    background: #333333;
}
.header-1{
    width: 1200px;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    margin: 0 auto;
    padding: 10px;
}
.header1{
    float: left;
}
.header2{
    float: right;
}
ul li{
  list-style: none;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.nav{
    width: 1200px;
    height: 150px;
    margin: 0 auto;
}
.nav-o{
    width: 100%;
    display: inline-block;
}
.sdflsjdkf{    display: table !important;
    text-align: center;
    width: 100%;}
.sdflsjdkf span{
    display: table-cell;
    vertical-align: middle;
}
.sdflsjdkf span img{left: 0!important;}
.nav-o img{
  float: left;
}
.nav-t{
    position: absolute;
    top: 35px;
    right: 0;
}
.one{
    width: 50%;
    float: right;
    position: relative;
}
.input{
    border: none;
    border-bottom:1px solid #d8cebc ;
}
.span{
    width: 15px;
    height: 15px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    background: red;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}
.image{
    position: relative;
}
.href{
    text-decoration: none;
    color: #000;
}
.active a{
    color: #b4a078;
    border-bottom: 3px solid #b4a078;
    font-weight: 700;
    padding-bottom: 5px;
}
.benner{
    width: 100%;
    height: 450px;
    position: relative;
}
.benner img{
    width: 100%;
    height: 420px;
 }  
 .bennertext{
 	position: absolute;
	top: 150px;
	left: 1000px;
 }
 .socks{
 	font-size: 28px;
 	color: #1d4358;
 	line-height: 45px;
 }
 .mans{
 	font-size: 20px;
 	color: #1d4358;
 	line-height: 45px;
 }
.content{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.content-tow{
    width: 350px;
    height: 280px;
    float: left;
    padding: 20px;
}
.content-three{
    width: 350px;
    float: left;
    padding: 20px;
}
.one{
    padding-bottom: 1px;
}
.tow{
    padding-top: 1px;
}
.s{
    font-size: 20px;
    padding-left: 20px;
}
.p{
    font-size: 12px;
}
.a{
    font-size:12px ;
    float: right;
    padding-right: 40px;
}
.list{width: 25%;
    margin-top: 20px;
    float: left;
    height: 100%;
    text-align: center;
}
.shopimg{
    position: relative;
    height: 250px;
    display: table-cell;
    vertical-align: middle;
}
.choose{
    position: absolute;
    top: 10px;
    left: 5px;
    border: 1px solid #b3a07d;
    border-radius: 8px;
    font-size: 13px;
    padding: 4px;
    color: #b3a07d;
    background: #f4f0ea;
}
.shopimg img{
    position: relative;
    left: 50%;
    vertical-align: bottom;
}
.price{color: #f00;}
.oneshoplist{
    width: 33%;
    float: left;
    height: 384px;
    text-align: center;
    padding-top: 20px;
    background: #fff;
    margin-top: 19px;
}
.sixshoplist{
    width: 66%;
    float: right;
}
.listone{
    width: 100%;
    float: left;
}
.shoplist.box{
    width: 33%;
    float: left;
}
.bianji{
    color: #b4a078;
    border-bottom: 2px solid #b4a078;
    font-weight: 500;
    padding-bottom: 5px;
   margin-left: 30px;
}
.zhoubang{
padding-left: 50px;
}
.listwidth{
    width: 32%;
    background: #fff;
    margin-right: 10px;
}
.listheight{
    height: 150px;
}
.shoptitlefont{
    padding-top: 45px;
}
.shopheig{  height: 323px;}
.renqi{
    background: #f4f0ea;
    height: 503px;
}
.main{
    width: 100%;
    height: 550px;
}
.toubu{
    width: 1200px;
    height: 30px;
    margin-top: 30px !important;
    margin: 0 auto;
    margin-bottom: 15px;
}
.xianshi{
    font-size: 24px;
    font-weight: 800;
}
.qianggou{
    font-size:12px ;
    float: right;
    margin-top: 10px;
}
.neirong{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.neirongone{
    width: 300px;
    height: auto;
    float: left;
}
.erwu{
    width: 250px;
}
.erwu img {
    width: 100%;
    height: 100%;
}
.er{
    width: 472px;
    height: 210px;
    border: 1px solid #ccc;
}
.eryi{
    width: 33%;
    height: 200px;
    float: left;
    text-align: center;
    margin-top: 20px;
}
.erfirst{border-right: none; border-bottom: none;}
.erfour{border-left: none; border-top: none;}
.textguazi{
    width: 66%;
    height: 200px;
    float: right;
    line-height: 31px;
}
.tea{
    font-size: 18px;
}
.yezi{
    font-size:15px ;
    color: #999999;
}
.shengyu{
    font-size:15px ;
    color: #999999;
}
.xianshijia{
    font-size:16px;
    color: #be4141;
}
.ersan{
    font-size: 18px;
    color: #be4141;
    font-weight: 700;
}
.yuanjia{
    font-size:15px ;
    color: #999999;
}
.erjiu{
    text-decoration: line-through;
    color: #999;
}
.liji{
    width: 120px;
    height: 30px;
    background: #be4141;
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.lodd{
    width: 150px; height: 10px; border: 1px solid #f2cecd;border-radius: 5px; float: left;    margin-top: 5px;
    margin-right: 5px;
}
.lodone{width: 70%; height: 100%; background: #ffe5e5;}
.listnew{
    font-size: 14px;
    float: right;
    margin-bottom: 20px;
    padding-top: 10px;
}
.jujia{
    margin-bottom: 10px;
}
.menu{
    width: 1200px;
    margin: 0 auto;
}
.menuimg{
	position: relative;
}
.menuimg img{
   width: 100%;
}
.menuimgtext{
	position: absolute;
    top: 100px;
    left: 100px;
}
.april{
	font-size: 28px;
	color: #292926;
	line-height: 45px;
	font-weight: 700;
}
.maned{
	font-size: 22px;
	color: #646560;
	line-height: 45px;
}
.erqi img{
    left: 0;
    width: 100%;
    height: 100%;
}
.erqi{
    display: block;
    width: 100%;
    height: 265px;
}
.kongbai{
    width: 100px;
    height: 20px;
    margin: 0 auto;
}
.times{
    width: 100px;
    height: 20px;
    font-size: 14px;
    color: #fff;
    background: #f00;
    text-align: center;
    line-height: 20px;
    display: inline-block;
}
.listtwo{width: 24%;margin-right: 12px;}
.erqi:nth-child(4){    margin-left: 10px;}
.listadd{margin-right: 0;
    margin-left: 10px;}
.bigbox{
	width: 100%;
	height: 500px;	
}
.inbox{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding: 10px;
}
.different {
	width: 768px;
	height: 368px;
	float: left;
	padding-right: 15px;	
}
.different img{
	width: 768px;
	height: 368px;
}
.differ{
	width: 415px;
	float: left;
}
.firstdiffer {
	width: 415px;
	height: 190px;
}
.firstdiffer img{
	width: 415px;
	height: 180px;	
}
.total{
	width: 100%;
	height: 570px;
	background:#f4f0ea;
}
.toububox{
    padding-top: 30px;
}
.bigspeak{
	width: 1200px;
	height: 500px;
	margin: 0 auto;
}
.speak{
	width: 380px;
	height: 430px;
	float: left;
    margin-right: 18px;
}
.cookie{
	    width: 380px;
    height: 300px;
}
.typewidt{background: #fff;}
.cookie img{
	    width: 100%;
    height: 100%;
    z-index: 2;
}
.type{
    width: 365px;
    height: 135px;
    /* margin-top: -105px; */
    background: #ffffff;
    z-index: 2;
    position: relative;
    top: -5px;
    left: 8px;
}
.endbox{

}
.end{
    width: 1200px;
    height: 200px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    padding-top: 50px;
    line-height: 30px;
}
.phone{
	width: 33.333%;
	float: left;
    text-align: center;
}
.tell{font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
}
.phonetext{
	font-size: 15px;
	text-align: -webkit-auto;
	position: relative;
}
.posi{
	position: absolute;
	top:-5px;
}
.ahspanm{
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 2px 10px;
}
.ahspanm:nth-child(1){margin-right: 10px;}
.footerbox{
	width: 100%;
	height: 300px;
    background: #414141;
}
.footer{
	width: 1200px;
	height: 183px;
	margin: 0 auto;
}
.promise{
	width: 398px;
    height: 112px;
    border-bottom: 1px solid gray;
	float: left;
    text-align: center;
    padding-top: 50px;
}
.promise img{vertical-align: middle;    padding-right: 10px;}
.promise{color: #fff;}
.fooddd a{
	color: #999; 
	text-decoration: none;    
	padding-right: 20px;
    padding-left: 16;
    }
a{
	color: #999; 
	text-decoration: none;    
	padding-right: 20px;
    padding-left: 16;	
}    
.fooddd{
	color: #999;
	}
.fottd{text-align: center; position: relative;}
.fottd img{
    position: absolute;
    top: 0;
   right: 550px;
}
.corudksd{color: #999;}
.change{
	float: right;
}

